# the basics
language: rust
rust: nightly
cache: cargo
install: true # cargo test will also perform a build
script: cargo test --verbose

services:
  - elasticsearch
before_script:
  - sleep 1 # only turn up if elasticsearch fails to start in time

# notifications
notifications:
  email: false

# heroku deploy
before_deploy:
  - rm -rf target/debug
  - cargo build --verbose --release

deploy:
  - provider: heroku
    skip_cleanup: true
    api_key:
      secure: $HEROKU_API_KEY
    app:
      develop: pockets-for-me-api-staging
      master: pockets-for-me-api

# for codecov
sudo: false
env:
  global:
  - RUSTFLAGS="-C link-dead-code"
addons:
  apt:
    packages:
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev
      - libiberty-dev
after_success: |
  wget https://github.com/SimonKagstrom/kcov/archive/master.tar.gz &&
  tar xzf master.tar.gz &&
  cd kcov-master &&
  mkdir build &&
  cd build &&
  cmake .. &&
  make &&
  make install DESTDIR=../../kcov-build &&
  cd ../.. &&
  rm -rf kcov-master &&
  for file in target/debug/pockets_for_me_api-*[^\.d]; do mkdir -p "target/cov/$(basename $file)"; ./kcov-build/usr/local/bin/kcov --exclude-pattern=/.cargo,/usr/lib --verify "target/cov/$(basename $file)" "$file"; done &&
  bash <(curl -s https://codecov.io/bash) &&
  echo "Uploaded code coverage"
